@font-family {
  font-family: 'Glyphicons Halflings';
  src: url(asset-path('glyphicons-halflings-regular.ttf', font));
  src: url(asset-path('glyphicons-halflings-regular.eot', font));
  src: url(asset-path('glyphicons-halflings-regular.svg', font));
  src: url(asset-path('glyphicons-halflings-regular.woff', font));
}