/* Glyphicons Font added via Bootstrap */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/* Norwester font: http://jamiewilson.io/norwester/ */
@font-face {
  font-family: 'Norwester';
  src: url('/assets/norwester.eot');
  src: url('/assets/norwester.eot?#iefix') format('embedded-opentype'), url('/assets/norwester.woff') format('woff'), url('/assets/norwester.ttf') format('truetype'), url('/assets/norwester.svg#norwester') format('svg');
}